.gradient {background-image: linear-gradient(to right, lightseagreen , purple);}
.gradientDos {
  background-color: #04C6C9;
}

.dropdown-menu > a{
  color: whitesmoke;
}
.dropdown-menu > a:hover, .dropdown-menu > a:focus {
  background-color: #9B0CDE;
}

