<div class="container">
  <h1>
    TRABAJO PRÁCTICO SALA DE JUEGOS
  </h1>
  <h4>Laboratorio IV</h4>
  <h4>División 4A</h4>
  <h4>Alumno: Emiliano Medina</h4>
  <div class="explicacion">
    <h6>Explicación juego a eleccíon: AHORCADO</h6>
    <p class="parrafo">
      El jugador tendrá 3 intentos para averiguar la palabra escondida, introduciendo de a una letra por vez.
      <br>
      Si la letra enviada se encuentra en la palabra, la misma se vera reflejada; caso contrario el jugador perderá un intento.
      <br>
      El juego termina cuando el jugador adivina la palabra correcta letra por letra o cuando se queda sin intentos.
    </p>
  </div>

</div>
