<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sala de juegos</title>
</head>
<body>
  <header>
    <!-- Navbar -->
    <nav class="gradient navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            SALA DE JUEGOS
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/anagrama']" routerLinkActive="router-link-active">Anagrama</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/piedra-papel-tijera']" routerLinkActive="router-link-active">PiePra/Papel/Tijera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/agilidad-aritmetica']" routerLinkActive="router-link-active">Agilidad Aritmética</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tateti']" routerLinkActive="router-link-active">TaTeTi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/memotest']" routerLinkActive="router-link-active">Memotest</a>
          </li>
        </ul>
      </div>
    </nav>
 </header>
 <router-outlet></router-outlet>
</body>
</html>
